.app,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.top-header {
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-title {
  font-size: 17px;
  font-weight: 400;
  color: #e14e42;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-icon {
  width: 25px;
  cursor: pointer;
}

#cart-icon {
  border-left: 1px solid #cccccc;
  padding-left: 5px;
  margin-left: 5px;
}

.primary-text {
    color: #e14e42;
}